@page "/Products"
@inject IService<ProductDTO> prodService
@inject IJSRuntime JSRuntime

<h3>ListProducts</h3>

<div class="text-right m-2">
    <a class="btn btn-primary" href="/Product/New">New Product</a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @if (products != null)
        {
            @foreach (var prod in products)
            {
                <tr>
                    <th>@prod.Id</th>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                    <td>@prod.Cat_Name</td>
                    <td><img style="width:50px;height:50px;" src="Images/@prod.Image"/></td>
                    <td><a href="/Product/edit/@prod.Id">Edit</a></td>
                    <td><a href="/Product/Details/@prod.Id">Details</a></td>
                    <td><a href="#delete" @onclick="() => delete(prod.Id)">Delete</a></td>
                </tr>
            }

        }
    </tbody>
</table>
@code {
    
}
